form {
    line-height: 1.5em;
}

legend {
    display: none;
}

dl {
    vertical-align: top;
    display: block;
}

dt {
    display: block;
    margin: 6px 0;
}

    dt input {
        vertical-align: middle;
    }

    dt label {
        font-weight: bold;
        vertical-align: middle;
    }

dd {
    vertical-align: middle;
    display: block;
    margin: 0;
}

    dd > input, dd > textarea {
        font-family: Helvetica, arial;
        padding: 7px 8px;
        outline: none;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        box-sizing: border-box;
        width: 100%;
    }

    dd > textarea {
        min-height: 75px;
    }

.chzn-choices {
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.chzn-select {
    width: 100%;
}

button.green, input[type=submit].green {
    background-color: #86C447;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86C447), color-stop(100%, #79b73b));
    background-image: -webkit-linear-gradient(top, #86C447, #79b73b);
    background-image: -moz-linear-gradient(top, #86C447, #79b73b);
    background-image: -ms-linear-gradient(top, #86C447, #79b73b);
    background-image: -o-linear-gradient(top, #86C447, #79b73b);
    background-image: linear-gradient(top, #86C447, #79b73b);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 10px 0 9px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 150px;
    font-size: 1em;
}

    button.green:hover, input[type=submit].green:hover {
        background-color: #79b73b;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #79b73b), color-stop(100%, #6ca434));
        background-image: -webkit-linear-gradient(top, #79b73b, #6ca434);
        background-image: -moz-linear-gradient(top, #79b73b, #6ca434);
        background-image: -ms-linear-gradient(top, #79b73b, #6ca434);
        background-image: -o-linear-gradient(top, #79b73b, #6ca434);
        background-image: linear-gradient(top, #79b73b, #6ca434);
        -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
        box-shadow: inset 0 1px 0 0 #8dbf67;
        cursor: pointer;
    }

    button.green:active, input[type=submit].green:active {
        -webkit-box-shadow: inset 0 0 8px 4px #5f912e, 0 1px 0 0 #5f912e;
        box-shadow: inset 0 0 8px 4px #5f912e, 0 1px 0 0 #5f912e;
    }

button.gray, input[type=submit].gray {
    background-color: #d5d5d5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(100%, #c1c1c1));
    background-image: -webkit-linear-gradient(top, #d5d5d5, #c1c1c1);
    background-image: -moz-linear-gradient(top, #d5d5d5, #c1c1c1);
    background-image: -ms-linear-gradient(top, #d5d5d5, #c1c1c1);
    background-image: -o-linear-gradient(top, #d5d5d5, #c1c1c1);
    background-image: linear-gradient(top, #d5d5d5, #c1c1c1);
    border: none;
    border-radius: 4px;
    color: #444;
    font-weight: bold;
    padding: 10px 0 9px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #eee;
    width: 150px;
    font-size: 1em;
}

    button.gray:hover, input[type=submit].gray:hover {
        background-color: #c1c1c1;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1c1c1), color-stop(100%, #adadad));
        background-image: -webkit-linear-gradient(top, #c1c1c1, #adadad);
        background-image: -moz-linear-gradient(top, #c1c1c1, #adadad);
        background-image: -ms-linear-gradient(top, #c1c1c1, #adadad);
        background-image: -o-linear-gradient(top, #c1c1c1, #adadad);
        background-image: linear-gradient(top, #c1c1c1, #adadad);
        cursor: pointer;
        text-shadow: 0 1px 0 #ddd;
    }

    button.gray:active, input[type=submit].gray:active {
        -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #d5d5d5;
        box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #d5d5d5;
    }

.iconArrow, .iconArrowLeft {
    background-image: url(http://mystateusa.com/edit/images/iconArrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding: 0px 14px 2px 0px;
}

.iconArrowLeft {
    background-position: left center;
    padding: 0px 0px 2px 14px;
}

    .iconArrow:hover, .iconArrowLeft:hover {
        background-image: url(http://mystateusa.com/edit/images/iconArrowHover.png);
    }
