/* COLORS:

    Base Blue: 30A3DA
    Highlight Blue: 33B5E5
    Dark Gray: 444444
    Medium Gray: 888888
    Light Gray: E9E9E9
    Border: D8D8D8
    Green: 86C447
    Yellow: FDC266
    Orange: F77744
     
    
*/
header {
    position: relative;
    line-height: 50px;
    background-color: #26A3DD;
    color: #fff;
    z-index: 5;
    box-shadow: 0px 0px 7px rgba(42, 42, 42, 0.7);
}


    header .row {
        overflow: visible;
        z-index: 5;
        height: 50px;
    }

    header a {
        color: #fff;
    }

        header a:visited {
            color: #fff;
        }

        header a:hover {
            color: #fff;
            text-decoration: none;
        }

    header h1 {
        font-size: 1.25em;
    }


    header nav > ul {
        margin: 0;
        padding: 0;
        height: 50px;
        font-size: .875em;
    }

        header nav > ul > li {
            position: relative;
            list-style: none;
            float: left;
            /*display: inline-block;*/
            text-align: center;
            cursor: pointer;
            padding: 0 20px;
        }

            header nav > ul > li:hover {
                background-color: #33B5E5;
                box-shadow: 0px 0px 7px rgba(42, 42, 42, 0.7);
            }

                header nav > ul > li:hover > a {
                    color: #fff;
                }

            header nav > ul > li > a > i {
                margin-right: .25em;
                /*vertical-align: top !important;
                line-height: 45px !important;
                font-size: .875em;*/
            }

                header nav > ul > li > a > i.icon-sort-down {
                    vertical-align: top !important;
                    line-height: 45px !important;
                }


    header .sublist {
        display: none;
        position: absolute;
        left: 0;
        top: 50px;
        min-width: 160px;
        padding-top: 4px;
        width: 100%;
        line-height: 20px;
        background-color: #fbfbfb;
        border-top: none;
        box-shadow: 0px 0px 7px rgba(42, 42, 42, 0.7);
        z-index: 6;
    }

        header .sublist li {
            list-style: none;
            color: #2a2a2a;
            text-align: left;
        }

            header .sublist li a {
                display: block;
                padding: 10px;
            }

                header .sublist li a:hover {
                    color: #30A3DA;
                    background-color: #E9E9E9 !important;
                }

            header .sublist li:first-child {
                border-top: 1px solid #D8D8D8;
            }

        header .sublist li {
            position: relative;
            border-bottom: 1px solid #D8D8D8;
        }

        header .sublist a {
            color: #2a2a2a;
        }

            header .sublist a i {
            }

    header nav > ul > li:hover > ul {
        display: block;
    }


    header .profile {
        float: right;
    }

        header .profile img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            /*border: 1px solid #D8D8D8;*/
        }

div.container.info {
    background-color: #E9E9E9;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 1em;
    color: #999;
    padding: .25em;
    display: none;
}

    div.container.info .row {
        vertical-align: middle;
    }

    div.container.info li {
        display: inline-block;
        margin-right: .25em;
    }

    div.container.info h2 {
        font-size: 1em;
        display: inline-block;
    }

.subnav {
    position: relative;
    background-color: #444;
    color: #ddd;
    z-index: 4;
    font-size: .875em;
    box-shadow: 0px 0px 7px rgba(42, 42, 42, 0.7);
    margin-bottom: 2em;
}

    .subnav h3 {
        line-height: 48px;
    }

    .subnav .row {
        overflow: visible;
        height: 48px;
    }

    .subnav .tabs {
        height: 48px;
    }

    .subnav .row {
        vertical-align: middle;
    }

    .subnav li:first-child {
        /*margin-left: 20px;*/
    }

    .subnav li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        border: none;
    }

    .subnav .tabs li a {
        display: block;
        padding: 0 1em;
        color: #ddd;
        margin: 0;
        z-index: 4;
        height: 48px;
        line-height: 48px;
    }


    .subnav .tabs li.selected a {
        background-image: -webkit-linear-gradient(transparent 85%, rgba(38, 163, 221, 1) 85%, rgba(38, 163, 221, 1));
        box-shadow: 0px 0px 7px rgba(42, 42, 42, 0.7);
    }


    .subnav .tabs li:not(.selected) a:hover {
        background-color: #888;
        /*box-shadow: 0px 0px 7px rgba(42, 42, 42, 0.7);*/
    }


ul.nav {
    display: block;
    padding: 0 15px;
}

    ul.nav > li {
        display: block;
        line-height: 1.75em;
        font-size: .875em;
    }

        ul.nav > li.header {
            padding: 6px 15px;
            color: #888;
            margin-right: -15px;
            margin-left: -15px;
            font-weight: bold;
        }

        ul.nav > li > a {
            display: block;
            margin-right: -16px;
            margin-left: -16px;
            padding: 5px 15px;
        }

            ul.nav > li > a:hover {
                background-color: #efefef;
            }

        ul.nav > li.active > a {
            background-color: #f7b22a;
            color: #fff;
        }

.master-detail {
    position: relative;
    overflow: visible;
    z-index: 1;

    /*border: 1px solid #D8D8D8;*/
}

    .master-detail .master {
        /*position: absolute;*/
        margin-right: -1px;
        border-right: 1px solid #D8D8D8;
        /*border: 1px solid #D8D8D8;*/
        height: 100%;
        min-height: 100%;
        overflow: visible;
        background-color: #E9E9E9;
        /*padding-left: 10px;*/
    }

        .master-detail .master li:first-child {
            border-top: 1px solid #D8D8D8;
        }

        .master-detail .master li {
            list-style: none;
            border-bottom: 1px solid #D8D8D8;
            border-right: 1px solid #D8D8D8;
            border-left: 1px solid #D8D8D8;
            display: block;
            margin-right: -1px;
            background-color: #E9E9E9;
        }

            .master-detail .master li:last-child {
                /*border-bottom: none;*/
            }

            .master-detail .master li.selected {
                border-right-color: transparent;
                background-color: #fff;
            }

            .master-detail .master li.top-empty {
                /*border-radius: 4px 4px 0 0;*/
                /*border: 1px solid #D8D8D8;*/
                min-height: 20px;
                text-indent: 6px;
                font-size: .875em;
                color: #777;
                font-weight: bold;
                /*background-color: #fff;*/
            }

            .master-detail .master li.bottom-empty {
                /*border-radius: 0 0 4px 4px;*/
                min-height: 20px;
                /*border: 1px solid #D8D8D8;*/
                border-top: none;
                /*background-color: #fff;*/
            }

    .master-detail .detail-container {
        margin: 3.8%;
    }

    .master-detail .details {
        /*border: 1px solid #D8D8D8;*/
        /*border-top: 1px solid #D8D8D8;*/
    }

        .master-detail .details .detail-bar {
            margin: 3.8%;
        }


            .master-detail .details .detail-bar h3 {
                display: inline-block;
                margin-right: 1em;
            }

        .master-detail .details h4 {
            color: #555;
        }

        .master-detail .details .detail-bar .detail-buttons {
            display: inline-block;
        }


            .master-detail .details .detail-bar .detail-buttons li {
                display: inline-block;
                margin: 0 .25em;
            }

                .master-detail .details .detail-bar .detail-buttons li a {
                    display: block;
                    padding: 8px 12px;
                    border: 1px solid #D8D8D8;
                    background-color: #E9E9E9;
                    font-size: .875em;
                }


ul.budgets li {
    list-style: none;
    display: block;
    border: 1px solid #D8D8D8;
    border-top: none;
    height: 75px;
    overflow: hidden;
    cursor: pointer;
}

.budget:hover:not(.selected) {
    background-color: #E9E9E9;
    margin-right: 0px !important;
    border-right: 0px solid transparent !important;
}

ul.budgets li:first-child {
    border: 1px solid #D8D8D8;
}

.vertical-stack {
    height: 100%;
    margin: .25em 1.5em;
    display: inline-block;
}

    .vertical-stack .title, .vertical-stack .description {
        height: 50%;
    }


.title {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 2em;
}

.description {
    color: #888;
}

.clear {
    clear: both;
}

.budget {
    position: relative;
    cursor: pointer;
}

    .budget .amount {
        float: right;
        text-align: right;
    }

        .budget .amount .title {
            color: #86C447;
        }

    .budget div.health {
        position: absolute;
        width: 10px;
        display: block;
        height: 100%;
        vertical-align: middle;
        background-color: #86C447;
    }

    .budget.yellow div.health {
        background-color: #FDC266;
    }

    .budget.yellow .amount .title {
        color: #FDC266;
    }

    .budget.red div.health {
        background-color: #F77744;
    }

    .budget.red .amount .title {
        color: #F77744;
    }

.master .title {
    font-size: 1em;
    line-height: 1.5em;
}

.master .description {
    font-size: .875em;
}

.notification {
    position: fixed;
    display: none;
    top: 75px;
    left: 20%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
}
